@page

@section Noticias {

    <div class="col-lg-3  col-md-6 col-sm-6">
        <div class="single-footer-widget">
        <h6>Notícias</h6>
        <p>
            Inscreva-se para receber informações atualizadas!
        </p>
        <div id="mc_embed_signup">
            <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscription relative">
            <div class="input-group d-flex flex-row">
                <input name="EMAIL" placeholder="Endereço de E-mail" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Endereço de E-mail '" required="" type="email">
                <button class="btn bb-btn"><span class="lnr lnr-location"></span></button>
            </div>
            <div class="mt-10 info"></div>
            </form>
        </div>
        </div>
    </div>
}

<!-- ***** Início do banner principal  ***** -->
<section class="hero-banner magic-ball">
    <div class="container">

        <div class="row align-items-center text-center text-md-left">
            <div class="col-md-6 col-lg-5 mb-5 mb-md-0">
                <h1>Viajar mais...</h1>
                <p>Se você deseja viajar longe e rápido, viaje leve. Deixe pra trás todas as suas invejas, seus ciúmes, sua incapacidade de perdoar, seu egoísmo e seus medos. (Glenn Clark) </p>
                <a class="button button-hero mt-4" href="#">Iniciar</a>
            </div>
            <div class="col-md-6 col-lg-7 col-xl-6 offset-xl-1">
                <img class="img-fluid" src="img/home/hero-img.png" alt="">
            </div>
        </div>
    </div>
</section>
<!-- ***** Fim do banner principal  ***** -->
<!-- ***** Início dos cartões ***** -->
<section class="section-padding bg-gray">
    <div class="container">

        <div class="row">
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="card-blog">
                    <img class="card-img rounded-0" src="img/blog/blog-1.png" alt="">
                    <div class="card-blog-body">
                        <a href="#">
                            <h4>Estrangeiros no nosso próprio país.</h4>
                        </a>
                        <ul class="card-blog-info">
                            <li><a href="#"><span class="align-middle"><i class="ti-notepad"></i></span>03 Jan, 2018</a></li>
                            <li><a href="#"><span class="align-middle"><i class="ti-comments-smiley"></i></span>03 Comentários</a></li>
                        </ul>
                        <p>Quando gastamos tempo demais a viajar, tornamo-nos estrangeiros no nosso próprio país. (René Descartes)</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="card-blog">
                    <img class="card-img rounded-0" src="img/blog/blog-2.png" alt="">
                    <div class="card-blog-body">
                        <a href="#">
                            <h4>Educar é viajar no mundo do outro.</h4>
                        </a>
                        <ul class="card-blog-info">
                            <li><a href="#"><span class="align-middle"><i class="ti-notepad"></i></span>03 Jan, 2018</a></li>
                            <li><a href="#"><span class="align-middle"><i class="ti-comments-smiley"></i></span>03 Comentários</a></li>
                        </ul>
                        <p>Educar é viajar no mundo do outro, sem nunca penetrar nele. É usar o que passamos para transformar no que somos. (Augusto Cury)</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="card-blog">
                    <img class="card-img rounded-0" src="img/blog/blog-3.png" alt="">
                    <div class="card-blog-body">
                        <a href="#">
                            <h4>Uma mulher quer paz.</h4>
                        </a>
                        <ul class="card-blog-info">
                            <li><a href="#"><span class="align-middle"><i class="ti-notepad"></i></span>03 Jan, 2018</a></li>
                            <li><a href="#"><span class="align-middle"><i class="ti-comments-smiley"></i></span>03 Comentários</a></li>
                        </ul>
                        <p>Uma mulher quer paz. Uma mulher quer ler mais, viajar mais, conhecer mais. Uma mulher quer flores. Quer beijos. Quer se sentir viva. (Martha Medeiros)</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ***** Fim dos cartões ***** -->
<!-- ***** Início do testemunho ***** -->
<section class="bg-gray magic-ball magic-ball-testimonial pb-xl-5">
    <div class="container">
        <div class="section-intro text-center pb-90px">
            <h2>O que nossos clientes estão falando...</h2>
        </div>

        <div class="owl-carousel owl-theme testimonial pb-xl-5">

            <div class="testimonial__item">
                <div class="row">
                    <div class="col-md-3 col-lg-2 align-self-center">
                        <div class="testimonial__img">
                            <img class="card-img rounded-0" src="img/testimonial/t-slider1.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-9 col-lg-10">
                        <div class="testimonial__content mt-3 mt-sm-0">
                            <h3>Alberto de Almeida</h3>
                            <p>Analista de Marketing, LATAM</p>
                            <p class="testimonial__i">O atendimento foi excelente! A atendente prontamente me ajudou tirando minhas dúvidas sobre quais eram as coberturas mais importantes para a minha viagem. Muito obrigado!</p>
                            <span class="testimonial__icon"><i class="ti-quote-right"></i></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="testimonial__item">
                <div class="row">
                    <div class="col-md-3 col-lg-2 align-self-center">
                        <div class="testimonial__img">
                            <img class="card-img rounded-0" src="img/testimonial/t-slider1.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-9 col-lg-10">
                        <div class="testimonial__content mt-3 mt-sm-0">
                            <h3>Daniel Silva</h3>
                            <p>Gerente de Projetos, Nestle</p>
                            <p class="testimonial__i">Atendeu minhas expectativas e ofereceu um atendimento excelente.</p>
                            <span class="testimonial__icon"><i class="ti-quote-right"></i></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="testimonial__item">
                <div class="row">
                    <div class="col-md-3 col-lg-2 align-self-center">
                        <div class="testimonial__img">
                            <img class="card-img rounded-0" src="img/testimonial/t-slider1.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-9 col-lg-10">
                        <div class="testimonial__content mt-3 mt-sm-0">
                            <h3>Ana Carolina</h3>
                            <p>Advogada, Servidora Pública</p>
                            <p class="testimonial__i">A viagem foi ótima, utilizamos muito o passe, inclusive nas cidades e até no ônibus turístico de Hiroshima. Quanto ao atendimento e prazo de entrega foi perfeito. Agradeço pelos serviços.</p>
                            <span class="testimonial__icon"><i class="ti-quote-right"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Fim do testemunho ***** -->