@page

<!-- ***** Início do sobre ***** -->
<section class="hero-banner-sm magic-ball magic-ball-banner" id="parallax-1" data-anchor-target="#parallax-1" data-300-top="background-position: 0px -80px" data-top-bottom="background-position: 0 100px">
    <div class="container">
        <div class="hero-banner-sm-content">
            <h1>Sobre Razor</h1>
            <p>Razor é uma sintaxe de marcação para inserir código baseado em servidor em páginas da Web. A sintaxe Razor é composta pela marcação Razor, por C# e por HTML. Arquivos que contêm Razor geralmente têm a extensão de arquivo .cshtml. O Razor também é encontrado em arquivos de Componentes do Razor (.razor).</p>
        </div>
    </div>
</section>
<!-- ***** Fim do sobre ***** -->
    