@page

<!-- ***** Início do sobre ***** -->
<section class="hero-banner-sm magic-ball magic-ball-banner" id="parallax-1" data-anchor-target="#parallax-1" data-300-top="background-position: 0px -80px" data-top-bottom="background-position: 0 100px">
    <div class="container">
        <div class="hero-banner-sm-content">
            <h1>Mensagem enviada com sucesso!</h1>
            <p>Em breve entraremos em contato!</p>
        </div>
    </div>
</section>
<!-- ***** Fim do sobre ***** -->
    