@page
@model MatrixRazor.Pages.pgAtividade.EditModel

@{
    ViewData["Title"] = "Edit";
}

<section class="section-margin">
    <div class="container">

        <h2 class="title">Editar atividade</h2>

        <hr />
        <div class="row">
            <div class="col-md-4">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Atividade.Id" />
                    <div class="form-group">
                        <label asp-for="Atividade.Nome" class="control-label"></label>
                        <input asp-for="Atividade.Nome" class="form-control" />
                        <span asp-validation-for="Atividade.Nome" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Atividade.Descricao" class="control-label"></label>
                        <input asp-for="Atividade.Descricao" class="form-control" />
                        <span asp-validation-for="Atividade.Descricao" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Salvar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-page="./Index">Voltar</a>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
